<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8"/>
    <title>Digital Registro: Autenticação com Blockchain.</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
    
    <!-- codigo importado       -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/main.css" rel="stylesheet">
  
</head>

<body>

<header id="cabecalho">
    <hgroup>
        <a href="/" style="text-decoration: none" ><h2> Digital Registro</h2></a>
    </hgroup>

</header>

<div id="interface">

   <nav id="menu">
      <h1>Menu Principal</h1>
    <ul>

       <li><a href="#midias" style="text-decoration: none">Mídias</a></li>
       <li><a href="create_btc_w" style="text-decoration: none">Criar Carteira Bitcoin</a></li>
       <li><a href="#contato" style="text-decoration: none">Contato</a></li>
    </ul>
   </nav>



    <br>
    <h1 style="text-align: center">Digital Registro</h1>
    <p style="text-align: center;text-indent: 0px">Prova de Autenticidade com Blockchain</p>

    <figure class="foto-logo">
        <img src="images/blockchain-world.png"/>
        <figcaption>
            <h3 style="text-align: center">Digital Registro</h3>
            <p style="text-indent: 0px">Prova de existência com Blockchain</p>
        </figcaption>

    </figure>
</div>

<div id="interface-meio">
    <h2>Crie seu endereço / Envie seu arquivo</h2> <br><br><br><br><br>

    <div id="interface-line">

    </div>
    <h2>Get the hash of your file bellow!</h2>



 </div>

    </br>
    </br>

<div id="interface-line">

</div>

<!-- ----------------------------- -->
    <!-- codigo importado       -->
    <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="content">
                <div class="row">
                  <div class="col-lg-12">
                    
                    <div id="wait" class="row">
                     <div class="spinner">
                       <div class="rect1"></div>
                       <div class="rect2"></div>
                       <div class="rect3"></div>
                       <div class="rect4"></div>
                       <div class="rect5"></div>
                      </div>
                       Loading...
                   </div>
    
                <form id="upload_form" style="display: none;" method="POST" enctype="multipart/form-data" action="api/document/upload">
                  <fieldset>
                    <input id='file' type="file" name="d" />
                    <button id="upload_submit" style="display: none;" type="submit" class="btn btn-success">
                      <i class="glyphicon glyphicon-file"></i> Upload
                    </button>
                  </fieldset>
    
                </form>
    
                <div id="filedrag" style="display: none;" class="dropbox">
                  Click here or drag and drop your document in the box.
                  
                </div>
              </div>
            </div>
            <!-- --------------------------------------------------------------------- -->
            <!-- Nessa parte é onde é mostrado o hash do arquivo na tela do usuario    -->
            <div class="row">
              <div class="col-lg-12">
                <hr />
                <div id="explain"></div>
                <div id="hash-progress" class="progress" style="display: none">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                  </div>
                </div>
                <p class="text-center">
                  <small>
                  <a id="digest-link" href="#" style="display: none">
                    Click here if you're not redirected.
                  </a>
                  </small>
                </p>
              </div>
            </div>
            <!-- --------------------------------------------------------------------- -->
          </div>
        </div>
      </div>
    
        </div>
      </div>
    <!-- ----------------------------- -->


<div id="interface-baixo">
    <h2>O que é Blockchain</h2>
    <p> A <a href="https://pt.wikipedia.org/wiki/Blockchain" target="_blank"><em> Blockchain</em></a> (também conhecido como “o protocolo da confiança”) é uma tecnologia que visa a descentralização como medida de segurança. São bases de registros e dados distribuídos e compartilhados que têm a função de criar um índice global para todas as transações que ocorrem em um determinado mercado. Funciona como um livro-razão, só que de forma pública, compartilhada e universal, que cria consenso e confiança na comunicação direta entre duas partes, ou seja, sem o intermédio de terceiros. Está constantemente crescendo à medida que novos blocos completos são adicionados a ela por um novo conjunto de registros. Os blocos são adicionados à blockchain de modo linear e cronológico. Cada nó - qualquer computador que conectado à essa rede tem a tarefa de validar e repassar transações - obtém uma cópia da blockchain após o ingresso na rede. A blockchain possui informação completa sobre endereços e saldos diretamente do bloco gênese até o bloco mais recentemente concluído.</p>

    <p>A blockchain é vista como a principal inovação tecnológica do <b>bitcoin</b> visto que é a prova de todas as transações na rede. Seu projeto original tem servido de inspiração para o surgimento de novas criptomoedas e de bancos de dados distribuídos.</p>

</div>

<div id="midias" >
    <h2>Casos de uso para Blockchain</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/gDI0nbkPMqA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Nlv9i4OtFrw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/yCJpBbxSMAk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/DiT49Qz1CDo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div id="contato" >
    <h2> Deixe seu email para receber novidades </h2>
    <div class="pgContato">
        <div class="contato">
           <div class="formContato">
              <form id="formContato" tabindex="1" action="#" method="post">
                 <input id="nome" name="nome" required="" type="text" placeholder="Nome" /> 
                 <input id="email" name="email" required="" type="email" placeholder="Email" /> 
                 <input id="tel" name="tel" type="tel" placeholder="Telefone" /> 
                 <textarea id="conteudo" name="conteudo" required="" placeholder="Deixe uma mensagem"></textarea>
                 <button class="botaoContato" type="submit">Enviar</button>
              </form>
           </div>
        </div>
     </div>
</div>



    <footer id="rodape">
        <p> &copy;2018 <a href="/" style="text-decoration: none">Digital Registro</a></p>
        <p>Github | Twitter | Slack</p>
    </footer>

    <script src=" http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.min.js" ></script>
    <script type="text/javascript" src="javascripts/bootstrap-notify.js"></script>
    <script type="text/javascript" src="javascripts/crypto.js"></script>
    <script type="text/javascript" src="javascripts/sprintf.min.js"></script>
    <script type="text/javascript" src="javascripts/filedrop.js"></script>
    <script type="text/javascript" src="javascripts/index.js"></script>
    
<script>
$('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
        || location.hostname == this.hostname) {

        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
           if (target.length) {
             $('html,body').animate({
                 scrollTop: target.offset().top
            }, 1000);
            return false;
        }
    }
});

</script>

</body>



</html>