@charset "UTF-8";

@font-face {
    font-family: "FonteLogo";
    src: url("/fonts/Nunito-Regular.ttf")
}

body {
    color: rgba(0,0,0,1);
    font-family: FonteLogo;

}

header#cabecalho{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    font-family: FonteLogo;
   
}

header#cabecalho a{
    position: relative;
    left: 7%;
    
}

div#interface {
    margin: 20px 50px 50px 50px;
    background-color: #ffffff;
    
}
div#interface-meio {
     margin: 0px -45px 0px -60px;
     background-color: rgba(0,0,0,.55);
     text-align: center;
     padding: 45px;
     color: #ffffff;
     box-shadow: 0px 0px 8px rgba(0,0,0,.8);
     
 }

/*
 div#interface-line {
    margin: -45px -50px 50px -60px;
    padding: 10px;
    box-shadow: -6px -6px 8px rgba(0,0,0,.3);
    
}
*/

div#interface-baixo {
    margin: 20px 50px 50px 50px;
    background-color: #ffffff;

}


div#midias {
    margin: 20px 50px 50px 50px;
    background-color: #ffffff;

}

div#contato {
    margin: 20px 50px 50px 50px;
    background-color: #ffffff;

}

p {
    text-align: justify;
    text-indent: 50px;
}

a{
    color: #000000;
    font-weight: bolder;
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
    color: #000000;
}

/*início formatação da imagem  */
figure.foto-logo {
    position: relative;
    max-width: 250px;
    right: 50%;
    left: 37%;
    -webkit-transition: all .3s ease-in;
}

figure.foto-logo img {
    width: 100%;
    height: 100%;


}
figure.foto-logo:hover {
    -webkit-transform: scale(1.5);
}

figure.foto-logo:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

figure.foto-logo figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    color: white;
    width: 100%;
    height: 100%;

}
/*fim formatação da imagem  */


/*início formatação do menu */

nav#menu{
    display: block;
    
}

nav#menu ul {
    list-style: none;
    position: absolute;
    top:2px;
    left:920px;
    

}

nav#menu li {
    display: inline-block;
    margin: 12px;


}

nav#menu h1 {
    display: none;
}

nav#menu li:hover{
   color: transparent;
}

nav#menu a {
    color: grey;
    transition: color 0.5s;
}

nav#menu a:hover{
    color: #000000;

}

/* fim da formatação do menu */


/*início formatação do cabecalho */
header#cabecalho h2{
    color: gray;
    transition: color 0.5s;
}

header#cabecalho h2:hover{
    color: #000000;
}

/*fim formatação do cabecalho */

footer#rodape{
    clear: both;
    border-top: 1px solid rgba(0,0,0,0.2);
}

/* configuração da pagina de contato */
.formContato {
    width: 100%;  
 }  
 .formContato input {  
    width: 90%;  
    margin-left: 10px;  
    margin-right: 10px;  
 }  
 .formContato textarea {  
    width: 90%;  
    margin-left: 10px;  
    margin-right: 10px;  
 }  
 .botaoContato {  
    margin-left: 10px;  
    margin-right: 10px;  
    margin-top: 1px;  
 }  
 .pgContato input {  
    padding-left: 20px;  
    color: #292929;  
    font-size: 18px;  
    background-color: #E9E9E9;  
    border: 1px solid #E9E9E9;  
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
    border-radius: 5px;  
    height: 40px;  
    margin-bottom: 20px;  
    border-bottom: 1px solid #ccc;  
    border-left: 1px solid #ccc;  
 }  
 .pgContato textarea {  
    padding-left: 20px;  
    color: #292929;  
    font-size: 18px;  
    background-color: #E9E9E9;  
    border: 1px solid #E9E9E9;  
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
    border-radius: 5px;  
    height: 200px;  
    margin-bottom: 20px;  
    border-bottom: 1px solid #ccc;  
    border-left: 1px solid #ccc;  
 }  
 .botaoContato {  
    border-radius: 4px;  
    color: #fff;  
    padding: 2px 40px;  
    height: 40px;  
    margin-top: 18px;  
    opacity: 0.9;  
    margin-bottom: 20px;  
    cursor: pointer;  
    background: #B22222;  
    display: inline-block;  
    border: none;  
    border-bottom: 1px solid #500707;  
    border-right: 1px solid #500707;  
 }  
 .botaoContato:hover {  
    opacity: 1.0;  
    transition: 1s;  
 }

 /* fim da configuração da pagina de contato. */
footer#rodape p{
    text-align: right;
}

footer#rodape a{
    color: #65c7ff;
    font-style: normal;
    font-size: 15px;
}